{% extends 'base.html' %}



{% block log_time %}
<form role="form" action="{{ url_for('home') }}" method="post">
	<div class="form-group">
		<label for="project">Project:<small></small></label>
		{{ time_entry_form.project }}
    </div>
	<div class="form-group">
		<label for="email">Start<small></small></label>
		{{ time_entry_form.start }}
    </div>
	<div class="form-group">
		<label for="notes">Stop<small>(optional)</small></label>
		{{ time_entry_form.stop }}
    </div>
	<button type="submit" class="btn btn-primary" style="float:right" id="start">Start</button>
</form>
{% for project in projects %}
	<h1>{{project.name}}</h1>
{% endfor %}
{% endblock %}