{% extends "bootstrap/base.html" %}
{% block head %}
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

{% endblock %}


{% block content %}


	
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	{{current_user.name}}
	<form method="POST"  action="" accept-charset="UTF-8" role="form">
		{{ form.csrf_token }} 
		{{ form.username() 	}}<br>
		{{ form.pw()		}}
		<button type="submit" class="btn btn-primary">Login</button>
	</form>


{% endblock %}


    {% block scripts %}
    
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
<script src="/admin/static/admin/js/form-1.0.0.js"></script>
    {% endblock scripts %}