{% extends 'base.html' %}

{% block navbar %}
{{ super() }}
{% endblock navbar %}

{% block scripts %}
{{ super() }}
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
<script>
$(function(){
	// Constructors
	var Contact = function(name,id) {
			this.name = name;
			this.id = id;
		}
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	//$SCRIPT_ROOT+"/somepath";
	var request = {
		url : '',
		type: '',
		contentType: "application/json",
		accepts: "application/json",
		cache: false,
		dataType: 'json',
		data: ''
	};
	function ProjectsViewModel() {
		var self = this;
		self.projectsURI = $SCRIPT_ROOT+'/api/projects';
		self.projectURI = $SCRIPT_ROOT+'/api/project/';
		self.projects = ko.observableArray();
		self.ajax = function(uri, method, data) {
			var localRequest = request;
			localRequest.url = uri;
			localRequest.method = method;
			localRequest.data = JSON.stringify(data);
			return $.ajax(localRequest);
		}
		self.beginAddProject = function(project) {
			//addProjectViewModel.availableContacts(addProjectViewModel.availableContacts);
			$('#addProject').modal('show');
		}
		self.add = function(project) {
			self.ajax(self.projectsURI, 'POST', project).done(function (data) {
				self.contacts.push({
					contact: ko.observable(data.contact),
					name: ko.observable(data.name),
					notes: ko.observable(data.notes),
					id: ko.observable(data.id)
				});
			});
		}
		self.beginEdit = function(project) {
			editProjectViewModel.setProject(project);
			$('#editProject').modal('show');
		}
		self.edit = function(project, data) {
			self.ajax(self.projectURI+project.id(),'PUT',data).done(function(res) {
				self.updateProject(project, res);
			});
		}
		self.updateProject = function(project, newProject) {
			var i = self.projects.indexOf(project);
			self.projects()[i].contact(newProject.contact);
			self.projects()[i].name(newProject.name);
		}
		self.ajax(self.projectsURI, 'GET').done(function(data) {
			for (var i = 0; i < data.length; i++) {
				self.projects.push({
					contact: 	ko.observable(data[i].contact),
					contact_id: 	ko.observable(data[i].contact_id),
					name: 	ko.observable(data[i].name),
					notes: 	ko.observable(data[i].notes),
					total: 	ko.observable(77),
					id: 	ko.observable(data[i].id)
				});
			}	
		})
	}
	function AddProjectViewModel() {
		var self = this;
		//self.availableContacts = ko.observableArray();
		self.availableContacts = ko.observableArray();
		self.contact = ko.observable();
		self.name = ko.observable();
		self.notes = ko.observable();
		self.total = ko.observable();

		self.addProject = function() {
			$('#addProject').modal('hide');
			// When addContact is executed, add details to contacts list
			// then reset the dialog values to empty strings.
			projectsViewModel.add({
				project_name: self.name(),
				project_contact: self.contact(),
				project_notes: self.notes()

			});
			self.name('');
			self.contact('');
			self.notes('');
		}
	}
	function EditProjectViewModel() {
		var self = this;
		self.availableContacts = ko.observableArray();
		//self.contact = ko.observable();
		self.contact_id = ko.observable();
		self.name = ko.observable();
		self.notes = ko.observable();
		self.id = ko.observable();
		// When setContact is called, init self fields and show edit button modal
		self.setProject = function(project) {
			self.project = project;
			self.availableContacts = addProjectViewModel.availableContacts;
			//self.contact(project.contact_id());
			self.contact_id(project.contact_id());
			self.name(project.name());
			self.notes(project.notes());
			self.id(project.id());
			$('#editProject').modal('show'); 
		}
		self.editProject = function() {
			$('#editProject').modal('hide');
			projectsViewModel.edit(self.project, {
				project_name: self.contact(),
				project_email:self.name(),
				project_notes:self.notes(),
				project_id: self.id()
			});
		}
	}
	function ContactsViewModel() {
		var self = this;
		self.contactsURI = $SCRIPT_ROOT+'/api/contacts';
		self.contactURI = $SCRIPT_ROOT+'/api/contact/';
		self.contacts = ko.observableArray();
		self.sortedBy = '';
		self.ajax = function(uri, method, data) {
			var localRequest = request;
			localRequest.url = uri;
			localRequest.method = method;
			localRequest.data = JSON.stringify(data);

				/*,
				beforeSend: function (xhr) {
					xhr.setRequestHeader("Authorization", "Basic " + btoa(self.username+":" + self.password));
				}
				error: function(jqXHR) {
					console.log("ajax error " + jqXHR.status);
				}*/
			return $.ajax(localRequest);
		}
		self.beginAddContact = function(contact) {
			$('#addContact').modal('show');
		}
		self.beginEdit = function(contact) {
			editContactViewModel.setContact(contact);
			$('#edit').modal('show');
		}
		self.edit = function(contact, data) {
			self.ajax(self.contactURI+contact.id(), 'PUT', data).done(function(res) {
				self.updateContact(contact, res);
			});
		}
		self.updateContact = function(contact, newContact) {
			var i = self.contacts.indexOf(contact);
			self.contacts()[i].name(newContact.name);
			self.contacts()[i].email(newContact.email);
			self.contacts()[i].notes(newContact.notes);
			self.contacts()[i].id(newContact.id);
		}

		self.ajax(self.contactsURI, 'GET').done(function(data) {
			//addProjectViewModel.availableContacts.removeAll();
			for (var i = 0; i < data.length; i++) {
				self.contacts.push({
					name: 	ko.observable(data[i].name),
					email: 	ko.observable(data[i].email),
					notes: 	ko.observable(data[i].notes),
					id: 	ko.observable(data[i].id)
				});
				addProjectViewModel.availableContacts.push(new Contact(data[i].name,data[i].id));
			}
		});
		self.add = function(contact) {
			self.ajax(self.contactsURI, 'POST', contact).done(function (data) {
				self.contacts.push({
					name: ko.observable(data.name),
					email: ko.observable(data.email),
					notes: ko.observable(data.notes),
					id: ko.observable(data.id)
				});
			});
		}
		self.remove = function(contact) {
			self.ajax(self.contactURI+contact.id(), 'DELETE' ).done(function() {
				self.contacts.remove(contact);
			});
		}
		function alphaSort(dtype) {
			return function(left, right) {
				return left[dtype]().toLowerCase() == right[dtype]().toLowerCase() ? 0 : (left[dtype]().toLowerCase() < right[dtype]().toLowerCase() ? -1: 1);
			};
		}
		self.sortContactsName = function() {
			self.contacts.sort(alphaSort('name'));
			self.sortedBy = self.sortedBy == '' ? 'name' : '';
			if (self.sortedBy == '') self.contacts.reverse();

		}
		self.sortContactsEmail = function() {
			self.contacts.sort(alphaSort('email'));
			self.sortedBy = self.sortedBy == '' ? 'email' : '';
			if (self.sortedBy == '') self.contacts.reverse();
		}
		self.sortContactsNotes = function() {
			self.contacts.sort(alphaSort('notes'));
			self.sortedBy = self.sortedBy == '' ? 'notes' : '';
			if (self.sortedBy == '') self.contacts.reverse();
		}
	}
	function AddContactViewModel() {
		var self = this;
		self.name = ko.observable();
		self.email = ko.observable();
		self.notes = ko.observable();

		self.addContact = function() {
			$('#addContact').modal('hide');
			// When addContact is executed, add details to contacts list
			// then reset the dialog values to empty strings.
			contactsViewModel.add({
				contact_name: self.name(),
				contact_email: self.email(),
				contact_notes: self.notes()

			});
			self.name('');
			self.email('');
			self.notes('');
		}
	}
	function EditContactViewModel() {
		var self = this;
		self.name = ko.observable();
		self.email = ko.observable();
		self.notes = ko.observable();
		self.id = ko.observable();

		// When setContact is called, init self fields and show edit button modal
		self.setContact = function(contact) {
			self.contact = contact;
			self.name(contact.name());
			self.email(contact.email());
			self.notes(contact.notes());
			self.id(contact.id());
			$('#editContact').modal('show'); 
		}
		self.editContact = function() {
			$('#editContact').modal('hide');
			contactsViewModel.edit(self.contact, {
				contact_name: self.name(),
				contact_email:self.email(),
				contact_notes:self.notes(),
				contact_id: self.id()
			});
		}
	}

	function EntriesViewModel() {
		var self = this;
		self.entriesURI = $SCRIPT_ROOT+'/api/entries';
		self.entryURI = $SCRIPT_ROOT+'/api/entry/';
		self.entries = ko.observableArray();
		self.entries_total = ko.observable();
		self.sortedBy = '';
		self.ajax = function(uri, method, data) {
			var localRequest = request;
			localRequest.url = uri;
			localRequest.method = method;
			localRequest.data = JSON.stringify(data);
			return $.ajax(localRequest);
		}
		self.ajax(self.entriesURI, 'GET').done(function(data) {
			for (var i = 0; i < data[0].entries.length; i++) {
				var dtemp = data[0].entries[i];
				self.entries.push({
					project_name: 	ko.observable(dtemp.project_name),
					start: 	ko.observable(dtemp.start),
					stop: 	ko.observable(dtemp.stop),
					delta: 	ko.observable(dtemp.delta)
				});
			}
			self.entries_total(data[0].entries_total);
		});
		function alphaSort(dtype) {
			return function(left, right) {
				return left[dtype]().toLowerCase() == right[dtype]().toLowerCase() ? 0 : (left[dtype]().toLowerCase() < right[dtype]().toLowerCase() ? -1 : 1);
			};
		}
		function numSort(dtype) {
			return function(left, right) {
				return parseFloat(left[dtype]()) == parseFloat(right[dtype]()) ? 0 : (parseFloat(left[dtype]()) < parseFloat(right[dtype]()) ? -1 : 1);
			};
		}
		self.sortEntriesProjectName = function() {
			self.entries.sort(alphaSort('project_name'));
			self.sortedBy = self.sortedBy == '' ? 'project_name' : '';
			if (self.sortedBy == '') self.entries.reverse();
		}
		self.sortEntriesStart = function() {
			self.entries.sort(alphaSort('start'));
			self.sortedBy = self.sortedBy == '' ? 'start' : '';
			if (self.sortedBy == '') self.entries.reverse();
		}
		self.sortEntriesDuration = function() {
			self.entries.sort(numSort('delta'));
			self.sortedBy = self.sortedBy == '' ? 'delta' : '';
			if (self.sortedBy == '') self.entries.reverse();
		}
	}
	// Contacts
	var contactsViewModel = new ContactsViewModel();
	var addContactViewModel = new AddContactViewModel();
	var editContactViewModel = new EditContactViewModel();
	ko.applyBindings(contactsViewModel, $('#contacts_container')[0]);
	ko.applyBindings(addContactViewModel, $('#addContact')[0]);
	ko.applyBindings(editContactViewModel, $('#editContact')[0]);

	// Projects
	var projectsViewModel = new ProjectsViewModel();
	var addProjectViewModel = new AddProjectViewModel();
	var editProjectViewModel = new EditProjectViewModel();
	ko.applyBindings(projectsViewModel, $('#projects_container')[0]);
	ko.applyBindings(addProjectViewModel, $('#addProject')[0]);
	ko.applyBindings(editProjectViewModel, $('#editProject')[0]);

	// TimeEntry
	var entriesViewModel = new EntriesViewModel();
	ko.applyBindings(entriesViewModel, $('#entries_container')[0]);
});
</script>
{% endblock %}
{% block title %}TABS - Time And Billing System  {% endblock %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-offset-2  col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<label for="sstr" class="panel-title">Search All:</label>
				<!--</div>
				<div class="panel-body">-->
					<form class="" role="form" action="{{ url_for('home') }}" method="post">
						<div class="input-group">
							<!--<label for="sstr">Search All:</label>-->
							<input type="text" class="form-control" name="sstr">
						    <div class="input-group-btn">
						    	
						    	<button data-bind="click: dateRange" type="button" class="btn btn-secondary" data-toggle="dropdown"  id="date-range-button" style="border: 1px solid #dfd7ca">
									<span class="glyphicon glyphicon-calendar"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" style="padding:15px">
									<li>
										<div class="input-group">
											<label for="sstr_from" class="panel-title">From</label>
											<input id="sstr_from" class="form-control" type="date">
										</div>
									</li>
									<li role="separator" class="divider"></li>
									<li>
										<div class="input-group">
											<label for="sstr_to" class="panel-title">To</label>
											<input id="sstr_to" class="form-control" type="date">
										</div>
									</li>
								</ul>
								<button type="button" class="btn btn-secondary"  id="start" style="border: 1px solid #dfd7ca">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</div>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default" id="contacts_container">
				<div class="panel-heading" >
					<div class="panel-title" style="display:inline;">Contacts</div>
					<div class="btn-group btn-group-sm pull-right" role="group" aria-label="">
						<button data-bind="click: beginAddContact" class="text-invert pull-right">New <span class=" glyphicon glyphicon-plus"></span></button>
					</div>
					<div class="btn-group btn-group-sm pull-right" role="group" aria-label="sort-contacts">
						<span class="glyphicon glyphicon-sort" style="padding-right:2px;"></span>
						<button data-bind="click: sortContactsName"  type="button" class="">Name</button>
						<button data-bind="click: sortContactsEmail" type="button" class="">Email</button>
						<button data-bind="click: sortContactsNotes" type="button" class="">Notes</button>
					</div>
				</div>
				<!--<div class="panel-body">
				</div>-->
				<table class="table">
					<tbody>
					<!-- ko foreach: contacts -->
					<tr>
						<td data-bind="text: name" >Peter Griffin</td>
						<td data-bind="text: email">peter@griffin.com</td>
						<td data-bind="text: notes">Some notes</td>
						<td><input data-bind="text: id" type="hidden"><span data-bind="click: $parent.beginEdit" style="cursor:pointer" class="glyphicon glyphicon-pencil"> </span></td>
						<td><span data-bind="click: $parent.remove" style="cursor:pointer" class="glyphicon glyphicon-trash" > </span></td>
					</tr>
					<!-- /ko -->
				</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default" id="projects_container"> 
				<div class="panel-heading">
					<div class="panel-title">Projects <button data-bind="click: beginAddProject" class="text-invert pull-right">New <span class=" glyphicon glyphicon-plus"></span></button></div>
				</div>
				<table class="table">
					<tbody>
						<!-- ko foreach: projects -->
						<tr>
							<td>
								<input data-bind="text: contact_id" type="hidden">
								<span data-bind="text: contact">contact here</span>
							</td>
							<td data-bind="text: name">Project name here</td>
							<td data-bind="text: notes">notes</td>
							<td data-bind="text: total" class="text-right">Total hours</td>
							<td>
								<input data-bind="text: id" type="hidden"><span data-bind="click: $parent.beginEdit" style="cursor:pointer" class="glyphicon glyphicon-pencil"> </span>
							</td>
							<td>
								<span data-bind="click: $parent.remove" style="cursor:pointer" class="glyphicon glyphicon-trash" > </span>
							</td>
						</tr>
						<!-- /ko -->
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default" id="entries_container">
				<div class="panel-heading">
					<div class="panel-title" style="display:inline;">Time Entries</div>
					<div class="btn-group btn-group-sm pull-right" role="group" aria-label="sort-entries">
						<span class="glyphicon glyphicon-sort" style="padding-right:2px;"></span>
						<button data-bind="click: sortEntriesProjectName" type="button" class="">Project</button>
						<button data-bind="click: sortEntriesStart" type="button" class="">Start</button>
						<button data-bind="click: sortEntriesDuration" type="button" class="">Duration</button>
					</div>
				</div>
				<table class="table">
					<tbody>
					<!-- ko foreach: entries -->
					<tr>
						<td data-bind="text: project_name"></td>
						<td data-bind="text: start"></td>
						<td data-bind="text: stop"></td>
						<td class="text-right" data-bind="text: delta"></td>
					</tr>
					<!-- /ko -->
					<tr><td colspan=4 class="text-right" data-bind="text: entries_total"></td></tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
		</div>
	</div>
</div>








<!-- Contact Modals -->
<div id="addContact" class="modal fade" tabindex="1" role="dialog" aria-labelledby="addDialogLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-dialog modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="addDialogLabel">Add Contact</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputContactName">Contact Name</label>
				<input class="form-control" data-bind="value: name" type="text" id="inputContactName">
			</div>
			<div class="control-group">
				<label class="control-label" for="inputContactEmail">Email</label>
				<input class="form-control" data-bind="value: email" type="text" id="inputContactEmail">
			</div>
			<div class="control-group">
				<label class="control-label" for="inputContactName">Notes</label>
				<textarea class="form-control" data-bind="value: notes" id="inputContactNotes"></textarea>
			</div>
		</form>
		<div class="modal-footer">
			<button data-bind="click: addContact" class="btn btn-primary pull-right">Add Contact</button>
			<button data-dismiss="modal" aria-hidden="true" class="btn btn-secondary">Cancel</button>&nbsp;&nbsp;&nbsp;
		</div>
	</div>
	</div>
	</div>
</div>
<div id="editContact" class="modal fade" tabindex="1" role="dialog" aria-labelledby="editDialogLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-dialog modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="addDialogLabel">Edit Contact</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="control-group">
				<input type="hidden" data-bind="value: id"></input>
				<label class="control-label" for="inputContactName">Contact Name</label>
				<input class="form-control" data-bind="value: name" type="text" id="inputContactName">
			</div>
			<div class="control-group">
				<label class="control-label" for="inputContactEmail">Email</label>
				<input class="form-control" data-bind="value: email" type="text" id="inputContactEmail">
			</div>
			<div class="control-group">
				<label class="control-label" for="inputContactName">Notes</label>
				<textarea class="form-control" data-bind="value: notes" id="inputContactNotes"></textarea>
			</div>
		</form>
		<div class="modal-footer">
			<button data-bind="click: editContact" class="btn btn-primary pull-right">Save</button>
			<button data-dismiss="modal" aria-hidden="true" class="btn btn-secondary">Cancel</button>&nbsp;&nbsp;&nbsp;
		</div>
	</div>
	</div>
	</div>
</div>



<!-- Project Modals -->
<div id="addProject" class="modal fade" tabindex="1" role="dialog" aria-labelledby="addDialogLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-dialog modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="addDialogLabel">Add Project</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputContactName">Project Contact</label>
				<select class="form-control" data-bind="
				options: availableContacts,
				optionsText: 'name',
				optionsValue: 'id',
				value: contact,
				optionsCaption: 'Select Contact' ">
				</select>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputContactEmail">Project Name</label>
				<input class="form-control" data-bind="value: name" type="text">
			</div>
			<div class="control-group">
				<label class="control-label" for="inputContactName">Notes</label>
				<textarea class="form-control" data-bind="value: notes" id="inputContactNotes"></textarea>
			</div>
		</form>
		<div class="modal-footer">
			<button data-bind="click: addProject" class="btn btn-primary pull-right">Add Project</button>
			<button data-dismiss="modal" aria-hidden="true" class="btn btn-secondary">Cancel</button>&nbsp;&nbsp;&nbsp;
		</div>
	</div>
	</div>
	</div>
</div>
<div id="editProject" class="modal fade" tabindex="1" role="dialog" aria-labelledby="editDialogLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-dialog modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="editDialogLabel">Edit Project</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="control-group">
				<input type="hidden" data-bind="value: id"></input>
				<select class="form-control" data-bind="
				options: availableContacts,
				optionsText: 'name',
				optionsValue: 'id',
				value: contact_id,
				optionsCaption: 'Select Contact' ">
				</select>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputContactEmail">Project Name</label>
				<input class="form-control" data-bind="value: name" type="text">
			</div>
			<div class="control-group">
				<label class="control-label" for="inputContactName">Notes</label>
				<textarea class="form-control" data-bind="value: notes"></textarea>
			</div>
		</form>
		<div class="modal-footer">
			<button data-bind="click: editProject" class="btn btn-primary pull-right">Save</button>
			<button data-dismiss="modal" aria-hidden="true" class="btn btn-secondary">Cancel</button>&nbsp;&nbsp;&nbsp;
		</div>
	</div>
	</div>
	</div>
</div>
{% endblock %}

