{% extends 'base.html' %}

{% block navbar %}
{{ super() }}
{% endblock navbar %}

{% block scripts %}
{{ super() }}
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
<script>
$(function(){
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	//$SCRIPT_ROOT+"/somepath";
	function ContactsViewModel() {
		var self = this;
		self.contactsURI = $SCRIPT_ROOT+'/api/contacts';
		self.contacts = ko.observableArray();

		self.ajax = function(uri, method, data) {
			var request = {
				url : uri,
				type: method,
				contentType: "application/json",
				accepts: "application/json",
				cache: false,
				dataType: 'json',
				data: JSON.stringify(data)
				/*,
				beforeSend: function (xhr) {
					xhr.setRequestHeader("Authorization", "Basic " + btoa(self.username+":" + self.password));
				}
				error: function(jqXHR) {
					console.log("ajax error " + jqXHR.status);
				}*/
			}
			return $.ajax(request);
		}
		// This is what it looked like before ajax(..).done(function);
		/*self.contacts([
			{
				name:ko.observable('name'),
				email:ko.observable('some email'),
				notes:ko.observable('some notes')
			},
			{
				name:ko.observable('name'),
				email:ko.observable('some email'),
				notes:ko.observable('some notes')
			}
			]);*/
		self.beginAddContact = function(contact) {
			$('#addContact').modal('show');
		}
		self.beginEdit = function(contact) {
			editContactViewModel.setContact(contact);
			$('#edit').modal('show');
		}
		self.edit = function(contact, data) {
			self.ajax(task.uri(), 'PUT', data).done(function(res) {
				self.updateContact(contact, res.contact);
			});
		}
		self.updateContact = function(contact, newContact) {
			var i = self.contacts.indexOf(contact);
			self.contacts()[i].name(newContact.name);
			self.contacts()[i].email(newContact.email);
			self.contacts()[i].notes(newContact.notes);
		}
		
		self.ajax(self.contactsURI, 'GET').done(function(data) {
			console.log(data);
			//self.contacts({});
			for (var i = 0; i < data.length; i++) {
				self.contacts.push({
					name: 	ko.observable(data[i].name),
					email: 	ko.observable(data[i].email),
					notes: 	ko.observable(data[i].notes)
				});
			}
		});
		self.add = function(contact) {
			self.ajax(self.contactsURI, 'POST', contact).done(function (data) {
				console.log('data');
				console.log(data);
				self.contacts.push({
					name: ko.observable(data.name),
					email: ko.observable(data.email),
					notes: ko.observable(data.notes)
				});
			});
		}
	}
	function AddContactViewModel() {
		var self = this;
		self.name = ko.observable();
		self.email = ko.observable();
		self.notes = ko.observable();

		self.addContact = function() {
			$('#addContact').modal('hide');
			// When addContact is executed, add details to contacts list
			// then reset the dialog values to empty strings.
			contactsViewModel.add({
				contact_name: self.name(),
				contact_email: self.email(),
				contact_notes: self.notes()

			});
			self.name('');
			self.email('');
			self.notes('');
		}
	}
	function EditContactViewModel() {
		var self = this;
		self.name = ko.observable();
		self.email = ko.observable();
		self.notes = ko.observable();
		self.done = ko.observable();

		// When setContact is called, init self fields and show edit button modal
		self.setContact = function(contact) {
			self.contact = contact;
			self.name(contact.name());
			self.email(contact.email());
			self.notes(contact.notes());
			self.done(task.done());
			$('edit').modal('show'); 
		}
		self.editContact = function() {
			$('#edit').modal('hide');
			contactsViewModel.edit(self.contact, {
				name: self.name(),
				email:self.email(),
				notes:self.notes(),
				done: self.done()
			});
		}
	}
	var contactsViewModel = new ContactsViewModel();
	var addContactViewModel = new AddContactViewModel();
	ko.applyBindings(contactsViewModel, $('#contact_container')[0]);
	ko.applyBindings(addContactViewModel, $('#addContact')[0]);
});
</script>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-offset-2  col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<label for="sstr" class="panel-title">Search All:</label>
				<!--</div>
				<div class="panel-body">-->
					<form class="" role="form" action="{{ url_for('home') }}" method="post">
						<div class="input-group">
							<!--<label for="sstr">Search All:</label>-->
							<input type="text" class="form-control" name="sstr">
						    <span class="input-group-btn">
								<button type="button" class="btn btn-secondary"  id="start">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default" id="contact_container">
				<div class="panel-heading">
					<div class="panel-title">Contacts <button data-bind="click: beginAddContact" class="text-invert pull-right">New <span class=" glyphicon glyphicon-plus"></span></button></div>
				</div>
				<!--<div class="panel-body">
				</div>-->
				<table class="table">
					<tbody>
					<!-- ko foreach: contacts -->
					<tr>
						<td data-bind="text: name" >Peter Griffin</td>
						<td data-bind="text: email">peter@griffin.com</td>
						<td data-bind="text: notes">Some notes</td>
						<td><span data-bind="click: $parent.beginEdit" class="glyphicon glyphicon-pencil"> </span></td>
						<td><span data-bind="click: $parent.beginEdit" class="glyphicon glyphicon-trash" > </span></td>
					</tr>
					<!-- /ko -->
				</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Projects <button class="text-invert pull-right">New <span class=" glyphicon glyphicon-plus"></span></button></div>
				</div>
				<div class="panel-body">
					<p>Projects go here</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Last 20 TimeEntries</div>
				</div>
				<div class="panel-body">
					<p>Last 20 TimeEntires go here</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
		</div>
	</div>
</div>

<div id="addContact" class="modal fade" tabindex="1" role="dialog" aria-labelledby="addDialogLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-dialog modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="addDialogLabel">Add Contact</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputContactName">Contact Name</label>
				<input class="form-control" data-bind="value: name" type="text" id="inputContactName">
			</div>
			<div class="control-group">
				<label class="control-label" for="inputContactEmail">Email</label>
				<input class="form-control" data-bind="value: email" type="text" id="inputContactEmail">
			</div>
			<div class="control-group">
				<label class="control-label" for="inputContactName">Notes</label>
				<textarea class="form-control" data-bind="value: notes" id="inputContactNotes"></textarea>
			</div>
		</form>
		<div class="modal-footer">
			<button data-bind="click: addContact" class="btn btn-primary pull-right">Add Contact</button>
			<button data-dismiss="modal" aria-hidden="true" class="btn btn-secondary">Cancel</button>&nbsp;&nbsp;&nbsp;
		</div>
	</div>
	</div>
	</div>
</div>

{% endblock %}

